version: '3.7.11'
services:
  recognizer:
    image: recognizer-image
    volumes:
      - .:/container
    working_dir: /container
    command: python3 ai_engine_module.py
#    command: streamlit run frontend_module.py --browser.gatherUsageStats false
#    ports:
#      - "8502:8501"